@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";

html, body { overflow-x: hidden !important; }

body {
  background-color: $ltgrey;
  background-image: url("/images/bg.png");
  background-position: center 20px;
  font-family: $josefin;
  line-height: 1.5em;
  width: 100%;
  margin: 0;
}

a, a:visited {
  color: $green;
  text-decoration: none;
  @include transition(color 0.4s linear);
}

a:hover, a:active {
  color: darken($green, 30%);
}

h1 {
  font-size: 3em;
  line-height: 1.333em;
  text-align: center;
  color: #00B292;
  font-family: $lekton;
  @include media($tab-up) {
  font-size: 5em;
  }
}

.intro-text{
  color: #999;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
    @include media($tab-up) {
  font-size: 3em;
  }
}

h2 {
  @extend h1;
  font-size: 2.5em;
  line-height: .5em;
  color: $ltgrey;
    @include media($tab-up) {
      text-align: left;
    }
}

h3 {
  @extend h2;
  color: $grey;
}

h5 {
  font-family: $lekton;
  font-size: 2em;
  color: $green;
  text-transform: uppercase;
  text-align: left;
  margin: 20px 0 20px 0; 
}


nav {
  background-color: $grey;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: $green;
  margin-top: 0;
  text-transform: uppercase;
  display: block;
 @include media($tablet) {
    border: 0;
    margin-left: auto;
    max-width: 960px;
    margin-right: auto;
  }
  
      ul{
          margin-top: 0;
          padding: 0;
          list-style-type: none;
                  @include media($tablet) {
                    margin-bottom: 0;
                    width: 390px;
                    margin-left: auto;
                  }
        li {
           @include media($tablet) {
              float: left;
              position: relative;
              padding-top: .3em;
              padding-bottom: .3em;
              }

          a {
             display: block;
             text-decoration: none;
             padding: 5px 20px;
             background-color: #444;
             border-bottom: 1px solid #ccc;

              @include media($tablet) {
                              border-bottom: 0;
              }
          }
        } /* end .menu li */
      }  /* end current highlighters */
 } /* end .nav */


.wrap {
  width: 100%;
  margin: 0;
   @include media($tablet) {  
    display: table;
    background-color: #444;
  }
}



img.centered{
width: 100%;
margin-left: auto;
margin-right: auto;  
@include span-columns(12);
           margin-bottom: 3%;            


           @include media($desktop) {
              @include span-columns(4);
              @include omega(3n);
              margin-left: 0;
              margin-bottom: 2%; 
              padding:0;
            }

            @include media($tab) {
              @include span-columns(6);
              @include omega(2n);
              margin-left: 0;
              margin-bottom: 2%; 
              padding:0;
            }
}

section#work{
  @include outer-container;
  padding:1%;
  background-color: $green;
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2Nk2DTpPwMUGN19xcAIEwBxzimLQQRgHJBCRqP+mv8gGRgAAKGsEgpUKMqUAAAAAElFTkSuQmCC   ) repeat;
  max-width: 100%;
  @include media ($bigscreen){
    padding-right: 4%;
    padding-left: 4%;
  }
  a, a:visited {
    color: $clouds;
    @include transition(color 0.4s linear);
  }

  a:hover, a:active {
    color: $dk-blue;
  }
  h2 {margin-bottom:65px;}
    ul {
        list-style-type: none;
        padding:0;


      li { 
           

          }
    }
}

section#about{
  @include outer-container;
  padding:1%;
   height:1000px;
  @include media ($bigscreen){
    padding-right: 4%;
    padding-left: 4%;

  }
  h2 {
    color: $grey;
  }

  }
  article.about{
    margin: 30px 0 30px 0;

    .leftcol{
      @include span-columns(12);
      float: left;



      @include media ($tablet){
        @include span-columns(6);
          padding-left: 10%;
      }
    }

    .rightcol{
      @include span-columns(12);

      @include media ($tablet){
        padding-left: 10%;
        float: right !important;
        @include span-columns(6);
      }
    }

        .pad-left {
          @include media ($tablet){
      padding-left: 14%;
    }
      }
    }

  .text-mobile{  
      margin: 20%;
      @include media ($tablet){
        margin:0;
      }
  }
  .about-para{
    @include span-columns(12);
    float: right !important;
    padding-left: 7%;
    padding-right: 7%;    
    @include media ($tablet){
          float: right;
      @include span-columns(8);
    }
    }





section {
  @include outer-container;
  
  aside {
    @include span-columns(12);
    
    @include media($desktop) {
      @include span-columns(4);
    }
  }
  
  article {
    @include span-columns(12);
    
    /*@include media($desktop) {
      @include span-columns(8);
    }*/
  }
  
  figure {
    margin-bottom: 1em;
  }
}

figcaption {
  color: darken($grey, 10%);
  font-size: em(11, $base-value);
  font-style: italic;
  line-height: 1.45em;
  margin: .5em 0;
}

footer {
  font-size: em(12, $base-value);
  font-style: italic;
  margin: 2em 0;
  clear: both;
  text-align: center;
}

.content-image {
  @include fill-parent;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/* /////// Laptop CSS /////// */

.laptop {
  height: 166px;
  width: 300px;
  background-image: url(/images/mobile.png);
  background-repeat: no-repeat;
  /*margin-top: 200px !important;*/
  margin: auto;
  padding-top: 3px;

    @include media($desktop) {
      height: 442px;
      width: 849px;
      background-image: url(/images/desktop.png); 
      padding-top: 27px;
    }
    @include media($only-tab) {
      height: 364px;
      width: 698px;
      background-image: url(/images/tablet.png); 
      padding-top: 27px;
    }    
   span {
    width: 280px;
    height: 320px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    margin-top:10px;
      @include media($only-tab) {
        width: 642px;
        height: 337px;
        position: relative;
        overflow: hidden;
        display: block;
        margin: auto;
        margin-top:0;
      }
      @include media($desktop) {
        width: 781px;
        height: 410px;
        position: relative;
        overflow: hidden;
        display: block;
        margin: auto;
        margin-top: 7px;
      }
    img {
      width: 100%;
      display: block;
      transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
      
      }
    .lapscroll {
      cursor: s-resize;
      margin-top: -2px;
      -webkit-transition: all 4s ease-in-out;
      -moz-transition: all 4s ease-in-out;
      -o-transition: all 4s ease-in-out;
      -ms-transition: all 4s ease-in-out;
      transition: all 4s ease-in-out;
    }
    #stmlap:hover {
      margin-top: -500px;
      @include media($only-tab) {
        margin-top:-1157px;
      }
      @include media($desktop) {
        margin-top:-1407px;
      }
      }
  }
}
.mobile{
  display: block;
    @include media($tablet) {
      display: none !important;
    }
}
.tablet{
  display: none;
      @include media($only-tab) {
      display: block !important;
    }
}

.desktop{
  display: none;
      @include media($desktop-only) {
      display: block !important;
    }
}


#create2 {
  display: none !important;
   @include media($desktop) {
      display: block !important;
    }
}

#code2 {
  display: none;
   @include media($desktop) {
      display: block !important;
    }
}

#convert2 {
  display: none;
   @include media($desktop) {
      display: block !important;
    }
}

#create {
  display: block;
   @include media($desktop) {
      display: none !important;
    }
}

#code {
  display: block;
   @include media($desktop) {
      display: none !important;
    }
}

#convert {
  display: block;
   @include media($desktop) {
      display: none !important;
    }
}
