@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";

html, body { overflow-x: hidden !important; }

body {
  background-color: $clouds;
  background-image: url("/images/bg.png");
  background-position: center 20px;
  font-family: $josefin;
  line-height: 1.5em;
  width: 100%;
  margin: 0;
}

a, a:visited {
  color: $green;
  text-decoration: none;
  @include transition(color 0.4s linear);
}

a:hover, a:active {
  color: darken($green, 30%);
}

h1 {
  font-size: 3em;
  line-height: 1.333em;
  text-align: center;
  color: $green;
  font-family: $lekton;
  font-weight: 100;
  @include media($tab-up) {
  font-size: 5em;
  }
}

.intro-text{
  color: $grey;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
    @include media($tab-up) {
  font-size: 3em;
  }
}

h2 {
  @extend h1;
  font-size: 2.5em;
  line-height: .5em;
  color: $clouds;
    @include media($tab-up) {
      text-align: left;
    }
}

h3 {
  @extend h2;
  color: $dk-grey;
}

h5 {
  font-family: $lekton;
  font-size: 2em;
  color: $green;
  text-transform: uppercase;
  text-align: left;
  margin: 20px 0 20px 0; 
  font-weight:100;
}


nav {
  background-color: $dk-grey;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: $green;
  margin-top: 0;
  text-transform: uppercase;
  display: block;
  margin-top: -10px;
 @include media($tablet) {
    border: 0;
    margin-left: auto;
    max-width: 960px;
    margin-right: auto;
    margin-top: 0;
  }
  
      ul{
          margin-top: 0;
          padding: 0;
          list-style-type: none;
                  @include media($tablet) {
                    margin-bottom: 0;
                    width: 400px;
                    margin-left: auto;
                  }
        li {
           @include media($tablet) {
              float: left;
              position: relative;
              padding-top: .3em;
              padding-bottom: .3em;
              }

          a {
             display: block;
             text-decoration: none;
             padding: 5px 20px;
             background-color: #444;
             border-bottom: 1px solid #ccc;

              @include media($tablet) {
                              border-bottom: 0;
              }
          }
        } /* end .menu li */
      }  /* end current highlighters */
 } /* end .nav */


.wrap {
  width: 100%;
  margin: 0;
   @include media($tablet) {  
    display: table;
    background-color: #444;
  }
}



/* /////// WORK /////// */

section#work{
  @include outer-container;
  padding:1%;
  background-color: $green;
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2Nk2DTpPwMUGN19xcAIEwBxzimLQQRgHJBCRqP+mv8gGRgAAKGsEgpUKMqUAAAAAElFTkSuQmCC   ) repeat;
  max-width: 100%;
  @include media ($bigscreen){
    padding-right: 4%;
    padding-left: 4%;
  }
  a, a:visited {
    color: $clouds;
    @include transition(color 0.4s linear);
  }

  a:hover, a:active {
    color: $dk-blue;
  }
  h2 {margin-bottom:65px;}
    ul {
        list-style-type: none;
        padding:0;


      li { 
           

          }
    }
}

/* /////// ABOUT /////// */

section#about{
  @include outer-container;
  padding:1%;
  @include media ($desktop){
    min-height: 1330px;
  }
  @include media ($bigscreen){
    padding-right: 4%;
    padding-left: 4%;

  }
  h2 {
    color: $dk-grey;
  }

  }
  article.about{
    margin: 30px 0 30px 0;

    .leftcol{
      @include span-columns(12);
      float: left;



      @include media ($tablet){
        @include span-columns(6);
          padding-left: 10%;
      }
    }

    .rightcol{
      @include span-columns(12);

      @include media ($tablet){
        padding-left: 10%;
        float: right !important;
        @include span-columns(6);
      }
    }

        .pad-left {
          @include media ($tablet){
      padding-left: 14%;
    }
      }
    }

  .text-mobile{  
      margin: 20%;
      @include media ($tablet){
        margin:0;
      }
  }
  .about-para{
    @include span-columns(12);
    float: right !important;
    padding-left: 7%;
    padding-right: 7%;    
    @include media ($tablet){
          float: right;
      @include span-columns(8);
    }
    }

/* /////// CONTACT /////// */

section#contact{
  @include outer-container;
  padding:1%;
  max-width:100%;
  background-color: $dk-grey;
  @include media ($bigscreen){
    padding-right: 4%;
    padding-left: 4%;
  }
  aside {
    @include span-columns(12);

    padding-left: 4px !important;
    margin-bottom: 25px;
    @include media($desktop) {
      @include span-columns(2);
      float:right !important;
      padding-left: 0 !important;
      margin-right: 2%;
    }
  }
  
  form {
    @include span-columns(12);
    float:left !important;
    margin: 0 0 25px 0 !important;
    @include media($desktop) {
      @include span-columns(10);
    }
  }
  h2 {
    margin: 30px 4px 25px 4px;
    color: $clouds;
    @include media($desktop) {
      margin: 30px 0 30px 0;
    }
  }
  p {
    color: $clouds;
    font-size:1.2em;
    margin: 0 4px 10px 4px;
    @include media($desktop) {
      margin: 0 0 20px 0;
    }
  }
  ul {
    -webkit-margin-before: 3px;
    -webkit-padding-start: 0;
    li{
      color: $clouds;
      font-size: 1.2em;
    }
  }
  img.left {margin-left:8px;}
}



section {
  @include outer-container;
  
  aside {
    @include span-columns(12);
    
    @include media($desktop) {
      @include span-columns(4);
    }
  }
  
  article {
    @include span-columns(12);
    
    /*@include media($desktop) {
      @include span-columns(8);
    }*/
  }
  
  figure {
    margin-bottom: 1em;
  }
}

figcaption {
  color: darken($dk-grey, 10%);
  font-size: em(11, $base-value);
  font-style: italic;
  line-height: 1.45em;
  margin: .5em 0;
}

footer {
  font-size: em(12, $base-value);
  font-style: italic;
  padding: 2em 0;
  clear: both;
  text-align: center;
  background-color: $dk-grey;
  margin-bottom:0;
    p {
      color:$clouds;
      font-style: normal;
    }
}

.content-image {
  @include fill-parent;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/* /////// Laptop CSS /////// */

.laptop {
  height: 166px;
  width: 300px;
  background-image: url(/images/mobile.png);
  background-repeat: no-repeat;
  /*margin-top: 200px !important;*/
  margin: auto;
  padding-top: 3px;

    @include media($desktop2) {
      height: 442px;
      width: 849px;
      background-image: url(/images/desktop.png); 
      padding-top: 27px;
    }
    @include media($only-tab) {
      height: 348px;
      width: 670px;
      background-image: url(/images/tablet.png); 
      padding-top: 27px;
    }    
   span {
    width: 280px;
    height: 320px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    margin-top:10px;
      @include media($only-tab) {
        width: 616px;
        height: 322px;
        position: relative;
        overflow: hidden;
        display: block;
        margin: auto;
        margin-top:0;
      }
      @include media($desktop2) {
        width: 781px;
        height: 410px;
        position: relative;
        overflow: hidden;
        display: block;
        margin: auto;
        margin-top: 7px;
      }
    img {
      width: 100%;
      display: block;
      transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
      
      }
    .revscroll {
      cursor: s-resize;
      margin-top: -2px;
      -webkit-transition: all 8s ease-in-out;
      -moz-transition: all 8s ease-in-out;
      -o-transition: all 8s ease-in-out;
      -ms-transition: all 8s ease-in-out;
      transition: all 8s ease-in-out;
      @include media($only-tab) {
         -webkit-transition: all 5s ease-in-out;
        -moz-transition: all 5s ease-in-out;
        -o-transition: all 5s ease-in-out;
        -ms-transition: all 5s ease-in-out;
        transition: all 5s ease-in-out;       
      }
      @include media($desktop2) {
        -webkit-transition: all 5s ease-in-out;
        -moz-transition: all 5s ease-in-out;
        -o-transition: all 5s ease-in-out;
        -ms-transition: all 5s ease-in-out;
        transition: all 5s ease-in-out;        
      }
    }
    #rev:hover {
      margin-top: -1200px;
      @include media($only-tab) {
        margin-top:-1115px;
      }
      @include media($desktop2) {
        margin-top:-1015px;
      }
      }

    .portscroll {
      cursor: s-resize;
      margin-top: -2px;
      -webkit-transition: all 16s ease-in-out;
      -moz-transition: all 16s ease-in-out;
      -o-transition: all 16s ease-in-out;
      -ms-transition: all 16s ease-in-out;
      transition: all 16s ease-in-out;
      @include media($only-tab) {
         -webkit-transition: all 10s ease-in-out;
        -moz-transition: all 10s ease-in-out;
        -o-transition: all 10s ease-in-out;
        -ms-transition: all 10s ease-in-out;
        transition: all 10s ease-in-out;       
      }
      @include media($desktop2) {
        -webkit-transition: all 8s ease-in-out;
        -moz-transition: all 8s ease-in-out;
        -o-transition: all 8s ease-in-out;
        -ms-transition: all 8s ease-in-out;
        transition: all 8s ease-in-out;        
      }
    }
    #port:hover {
      margin-top: -4540px;
      @include media($only-tab) {
        margin-top:-2680px;
      }
      @include media($desktop2) {
        margin-top:-1900px;
      }
      }

    .corpscroll {
      cursor: s-resize;
      margin-top: -2px;
      -webkit-transition: all 16s ease-in-out;
      -moz-transition: all 16s ease-in-out;
      -o-transition: all 16s ease-in-out;
      -ms-transition: all 16s ease-in-out;
      transition: all 16s ease-in-out;
      @include media($only-tab) {
         -webkit-transition: all 10s ease-in-out;
        -moz-transition: all 10s ease-in-out;
        -o-transition: all 10s ease-in-out;
        -ms-transition: all 10s ease-in-out;
        transition: all 10s ease-in-out;       
      }
      @include media($desktop2) {
        -webkit-transition: all 8s ease-in-out;
        -moz-transition: all 8s ease-in-out;
        -o-transition: all 8s ease-in-out;
        -ms-transition: all 8s ease-in-out;
        transition: all 8s ease-in-out;        
      }
    }
    #corp:hover {
      margin-top: -4540px;
      @include media($only-tab) {
        margin-top:-1800px;
      }
      @include media($desktop2) {
        margin-top:-2250px;
      }
      }

    .howl2goscroll {
      cursor: s-resize;
      margin-top: -2px;
      -webkit-transition: all 10s ease-in-out;
      -moz-transition: all 10s ease-in-out;
      -o-transition: all 10s ease-in-out;
      -ms-transition: all 10s ease-in-out;
      transition: all 10s ease-in-out;   
      @include media($only-tab) {
         -webkit-transition: all 6s ease-in-out;
        -moz-transition: all 6s ease-in-out;
        -o-transition: all 6s ease-in-out;
        -ms-transition: all 6s ease-in-out;
        transition: all 6s ease-in-out;       
      }
      @include media($desktop2) {
        -webkit-transition: all 8s ease-in-out;
        -moz-transition: all 8s ease-in-out;
        -o-transition: all 8s ease-in-out;
        -ms-transition: all 8s ease-in-out;
        transition: all 8s ease-in-out;        
      }
    }
    #howl2go:hover {
      margin-top: -1530px;
      @include media($only-tab) {
        margin-top:-815px;
      }
      @include media($desktop2) {
        margin-top:-1020px;
      }
      }

    .livescroll {
      cursor: s-resize;
      margin-top: -2px;
      -webkit-transition: all 5s ease-in-out;
      -moz-transition: all 5s ease-in-out;
      -o-transition: all 5s ease-in-out;
      -ms-transition: all 5s ease-in-out;
      transition: all 5s ease-in-out;
      @include media($only-tab) {
         -webkit-transition: all 7s ease-in-out;
        -moz-transition: all 7s ease-in-out;
        -o-transition: all 7s ease-in-out;
        -ms-transition: all 7s ease-in-out;
        transition: all 7s ease-in-out;       
      }
      @include media($desktop2) {
        -webkit-transition: all 8s ease-in-out;
        -moz-transition: all 8s ease-in-out;
        -o-transition: all 8s ease-in-out;
        -ms-transition: all 8s ease-in-out;
        transition: all 8s ease-in-out;        
      }
    }
    #live:hover {
      margin-top: -465px;
      @include media($only-tab) {
        margin-top:-1035px;
      }
      @include media($desktop2) {
        margin-top:-1310px;
      }
      }      

    .clubscroll {
      cursor: s-resize;
      margin-top: -2px;
      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
      @include media($only-tab) {
         -webkit-transition: all 3.5s ease-in-out;
        -moz-transition: all 3.5s ease-in-out;
        -o-transition: all 3.5s ease-in-out;
        -ms-transition: all 3.5s ease-in-out;
        transition: all 3.5s ease-in-out;       
      }
      @include media($desktop2) {
        -webkit-transition: all 5s ease-in-out;
        -moz-transition: all 5s ease-in-out;
        -o-transition: all 5s ease-in-out;
        -ms-transition: all 5s ease-in-out;
        transition: all 5s ease-in-out;        
      }
    }
    #club:hover {
      margin-top: -240px;
      @include media($only-tab) {
        margin-top:-550px;
      }
      @include media($desktop2) {
        margin-top:-700px;
      }
      }  

    .stuscroll {
      cursor: s-resize;
      margin-top: -2px;
      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
      @include media($only-tab) {
         -webkit-transition: all 3s ease-in-out;
        -moz-transition: all 3s ease-in-out;
        -o-transition: all 3s ease-in-out;
        -ms-transition: all 3s ease-in-out;
        transition: all 3s ease-in-out;       
      }
      @include media($desktop2) {
        -webkit-transition: all 4s ease-in-out;
        -moz-transition: all 4s ease-in-out;
        -o-transition: all 4s ease-in-out;
        -ms-transition: all 4s ease-in-out;
        transition: all 4s ease-in-out;        
      }
    }
    #stu:hover {
      margin-top: -150px;
      @include media($only-tab) {
        margin-top:-370px;
      }
      @include media($desktop2) {
        margin-top:-480px;
      }
      }        

    .showscroll {
      cursor: s-resize;
      margin-top: -2px;
      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
      @include media($only-tab) {
         -webkit-transition: all 3.5s ease-in-out;
        -moz-transition: all 3.5s ease-in-out;
        -o-transition: all 3.5s ease-in-out;
        -ms-transition: all 3.5s ease-in-out;
        transition: all 3.5s ease-in-out;       
      }
      @include media($desktop2) {
        -webkit-transition: all 3s ease-in-out;
        -moz-transition: all 3s ease-in-out;
        -o-transition: all 3s ease-in-out;
        -ms-transition: all 3s ease-in-out;
        transition: all 3s ease-in-out;        
      }
    }
    #show:hover {
      margin-top: -215px;
      @include media($only-tab) {
        margin-top:-496px;
      }
      @include media($desktop2) {
        margin-top:-623px;
      }
      }  

  }
}
.mobile{
  display: block;
    @include media($tablet) {
      display: none !important;
    }
}
.tablet{
  display: none !important;
      @include media($only-tab) {
      display: block !important;
    }
}

.desktop{
  display: none;
      @include media($desktop-only) {
      display: block !important;
    }
}


#create2 {
  display: none !important;
   @include media($desktop) {
      display: block !important;
    }
}

#code2 {
  display: none;
   @include media($desktop) {
      display: block !important;
    }
}

#convert2 {
  display: none;
   @include media($desktop) {
      display: block !important;
    }
}

#create {
  display: block;
   @include media($desktop) {
      display: none !important;
    }
}

#code {
  display: block;
   @include media($desktop) {
      display: none !important;
    }
}

#convert {
  display: block;
   @include media($desktop) {
      display: none !important;
    }
}

