$base-value: 14;

//**** Neat Grid ****
$max-width: em(960, $base-value); // Max width of outer container

//**** Breakpoints ****
$bigscreen: min-width 1200px;
$desktop: min-width 850px;
$tablet: min-width 750px;
$tablet-only: min-width 750px max-width 849px;
$mobile-only: max-width 749px;
$phone: max-width 480px;
$tab: min-width 481px max-width 849px;
$tab-up: min-width 481px;
//**** Colors ****

$black:                 #111111;

$dk-grey:								#444;
$grey:                  #444444;
$ltgrey:                #e5e5e5;

$green:                 #00c09e;

$clouds:                #ECF0F1;
$white:                 #ffffff;

$lt-blue:               #00EBFF;
$dk-blue:               #2D3449;