$base-value: 14;

//**** Neat Grid ****
$max-width: em(960, $base-value); // Max width of outer container

//**** Breakpoints ****
$bigscreen: min-width 1200px;
$desktop: min-width 850px;
$tablet: min-width 750px;
$tablet-only: min-width 750px max-width 849px;
$mobile-only: max-width 749px;
$phone: max-width 480px;
$tab: min-width 481px max-width 849px;
$tab-up: min-width 481px;
//**** Colors ****

$black:                 #111111;
$blue:                  #0e3651;
$grey:                  #444444;
$green:                 #00c09e;
$red:                   #9d261d;
$yellow:                #fe9800;
$ltgrey:                #e5e5e5;
$pink:                  #c3325f;
$purple:                #7a43b6;
$white:                 #ffffff;